* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'PT Root UI', Inter, Roboto, -apple-system, sans-serif;
}

.mainMenu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2.5vw;
    display: flex;
    align-items: center;        
    gap: 1.5vw;                 
    padding: 0 0.5vw;   
    background-color: black;
}

.mainMenu nav {
    display: flex;
    gap: 1vw;
}

.mainMenu-logo {
    height: 1vw;
    width: auto;
}

.mainMenu a {
    color: white;
    font-weight: 500;
    font-size: 1vw;
    text-decoration: none;
    transition: color ease 0.4s;
}

.mainMenu a.active,
.mainMenu a.active:hover {
    color: #FF0000;
}

.mainMenu a:hover {
    text-decoration: underline;
}

.running-line {
    width: 100%;
    height: 1vw;
    margin-top: 2.5vw;
    background: #FF0000;
    font-weight: bold;
    font-size: 0.8vw;
    color: black;
    overflow: hidden;
    white-space: nowrap;
    font-weight: bold;
}

.running-text {
    display: inline-block;
    animation: scrollText 20s linear infinite;
    padding-left: 0; 
}

@keyframes scrollText {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

.video-background {
    width: 100%;
    height: 100%;
    /* height: 44.3vw; */
    background-color: black;
}